<div class="mainContainer">
    <div class="titleContainer">
    <h2>Opinie innych użytkowników</h2>
    <div class="addOpinionBtn">
        <img src="/wsei-project/social-app/src/assets/cross.jpg">
    </div>
</div>

<div class="loadedOpinion">
<h3>Imię i nazwisko</h3>
<p class="opinionContent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel libero id ipsum gravida sagittis non ac ante. Fusce vulputate eget ex quis commodo. Phasellus eget feugiat nunc. Quisque vel euismod nisi, at malesuada neque. Integer in elit semper
</p>
</div>
</div>
