<div class="mainContainer">
    <div class="titleContainer">
        <h2>Opinie innych użytkowników</h2>
        <button class="addOpinionBtn" (click)="addNewOpinion()">
        </button>

    </div>
    <div class="addNewOpinionPopUp">
        <div class="form-group formContainer">
            <label for="exampleFormControlTextarea3">Napisz coś miłego:)</label>
            <textarea type="text" class="form-control textAreaOpinionValue" id="exampleFormControlTextarea3"
                rows="7"></textarea>
            <button type="button" class="btn btn-primary btn-sm sendBtn" (click)="sendDataToDataBase()">Wyślij</button>
        </div>
    </div>
    <div class="loadedOpinion" *ngFor="let user of userOpinionArray">
        <a [routerLink]="['readOnProf', user.key]" (click)='routeToUser(user.key)'>
        <div>
            <img [src]=user.photo>
            <h3>{{user.name}} {{user.surname}}</h3>
        </div>
        <p class="opinionContent">
            {{user.opinion}}
        </p>
        </a>
    </div>
</div>