<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green justify-content-between" [containerInside]="false">

  <nav>
    <a *ngIf="authService.user" routerLink="/home" routerLinkActive="active" class="btn btn-info">My Profile</a>
    <a *ngIf="authService.user" routerLink="/friends" routerLinkActive="active" class="btn btn-info">Friends</a>
    <!--<a *ngIf="authService.user" routerLink="/about" routerLinkActive="active" class="btn btn-info">Search</a>-->
    <a *ngIf="!authService.user" routerLink="/login" routerLinkActive="active" class="btn btn-info">Login</a>
    <a *ngIf="!authService.user" routerLink="/register" routerLinkActive="active" class="btn btn-info">Register</a>
    <a *ngIf="authService.user" (click)="logout()" class="btn btn-info">Logout</a>
    <span *ngIf="authService.user">Welcome user: {{authService.user.email}}</span>
  </nav>


  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
      <img src="" height="40" alt="LOGO">
      WEB Porfolio
  </a>
  </mdb-navbar-brand>

  <app-app-search></app-app-search>

  <links>

    <div class="navbar-nav ml-auto">
      <a routerLink="/friends" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>Znajomi</a>

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>Moje konto<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a routerLink="/home" routerLinkActive="active" class="dropdown-item waves-light" mdbWavesEffect href="#">Mój profil</a>
          <a (click)="logout()" class="dropdown-item waves-light" mdbWavesEffect href="#">Wyloguj</a>
        </div>
      </li>

    </div>
    
  </links>


</mdb-navbar>
<app-readonlyprofile></app-readonlyprofile>
<router-outlet></router-outlet>
