.nameSurnameParagraph {
  padding: 15px;
  font-weight: 400;
}
a{
    color:black;
}
.nameContainer {
  position: relative;
  z-index: 15;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.editAddBtn {
  max-width: 15%;
  margin: 3% 3% 3% 5%;
  position: absolute;
  z-index: 200;
  right: 0;
}
.editBtn {
  max-width: 15%;
  margin: 3% 3% 3% 5%;
  position: absolute;
  z-index: 200;
  right: 0;
}
.addToFriendBtn {
  max-width: 15%;
  display: none;
  margin: 3% 3% 3% 5%;
  position: absolute;
  z-index: 200;
  right: 0;
}

.readOnlyProfileComponent {
  background: #f5f7f8;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.allComponentsContainer {
  width: 66%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.aboutUser {
  width: 100%;
  font-size: 24px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
}
.topicContainer {
  padding: 20px;
  background: #7d97a5;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  margin-top: 25px;
}
.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .addBtn {
    display: block;
  }
}
.titleModuleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  .addBtn {
    display: block;
  }
}
.editNameAndSurname {
  width: 60%;
  display: none;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  input.form-control {
    width: 80px;
    height: 30px;
  }
}
.noGrayTextArea[readonly] {
  background: white;
}
.friendsContainer {
  width: 90%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
  .friend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: row;

      padding: 10px;
      img {
        margin-right: 8px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      h3 {
        font-size: 48px;
        padding: 20px;
      }
    }
    .removeFriend {
      width: 120px;
      height: 70px;
    }
  }
}
@media all and (max-width: 405px) {
  .searchDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    .searchBtn{
      box-sizing: content-box;
      padding:5px;
      height: 20px;
      margin-left:0;
      margin-right:0;
    }
  }
    .allComponentsContainer {
        width: 98%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
      }
      .nameSurnameParagraph {
        padding: 16px;
        font-size: 20px;
        font-weight: 400;
      }
    
      .editAddBtn {
        max-width: none;
        width: 22%;
        box-sizing: border-box;
        font-size: 6px !important;
        position: absolute;
        z-index: 200;
        right: 0;
      }
      .addToFriendBtn {
        max-width: none;
        display: none;
        width: 22%;
        
        box-sizing: border-box;
        margin: 3% 3% 3% 5%;
        font-size: 6px !important;
        position: absolute;
        z-index: 200;
        right: 0;
      }
      .editNameAndSurname {
        width: 60%;
        display: none;
        padding: 20px;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        input.form-control {
          width: 90px;
          height: 30px;
        }
      }
      .friendsContainer {
        width: 90%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        text-align: left;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        margin-left: auto;
        margin-right: auto;
        h1{
            font-size:24px !important;
        }
        .friend {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          
          div {
            display: flex;
            flex-direction: row;
    
            padding: 10px;
            img {
              margin-right: 8px;
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            h3 {
              font-size: 20px !important;
              padding: 10px;
            }
          }
          .removeFriend {
            width: 95px;
            height: 35px;
            font-size: 7px !important;
            margin-top: 17px;
          }
        }
      }
    }
@media all and (min-width: 405px) and (max-width: 426px) {
  .searchDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    .searchBtn{
      box-sizing: content-box;
      padding:5px;
      height: 20px;
      margin-left:0;
      margin-right:0;
    }
  }
  .allComponentsContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .nameSurnameParagraph {
    padding: 16px;
    font-size: 20px;
    font-weight: 400;
  }

  .editAddBtn {
    max-width: none;
    width: 20%;
    box-sizing: border-box;
    font-size: 6px !important;
    height: 40%;
    position: absolute;
    z-index: 200;
    right: 0;
  }
  .addToFriendBtn {
    max-width: none;
    display: none;
    width: 20%;
    box-sizing: border-box;
    margin: 3% 3% 3% 5%;
    font-size: 7px !important;
    position: absolute;
    z-index: 200;
    right: 0;
  }
  .editNameAndSurname {
    width: 60%;
    display: none;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    input.form-control {
      width: 90px;
      height: 30px;
    }
  }
  .friendsContainer {
    width: 90%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    h1{
        padding-top:10px;
        font-size:24px;
    }
    .friend {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: row;

        padding: 10px;
        img {
          margin-right: 8px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        h3 {
          font-size: 24px;
          padding: 10px;
        }
      }
      .removeFriend {
        width: 95px;
        height: 35px;
        font-size: 7px !important;
        margin-top: 17px;
      }
    }
  }
}
@media all and (min-width: 426px) and (max-width: 487px) {
  .searchDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    .searchInput{
      height: 40px;
    }
    .searchBtn{
      padding:5px;
      height: 40px;
      margin-top:0;
      margin-left:10px;
      margin-right:10px;
    }
  }
  .allComponentsContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .nameSurnameParagraph {
    padding: 16px;
    font-size: 22px;
    font-weight: 400;
  }

  .editAddBtn {
    max-width: none;
    width: 20%;
    box-sizing: border-box;
    font-size: 7px !important;
    height: 50%;
    position: absolute;
    z-index: 200;
    right: 0;
  }
  .addToFriendBtn {
    max-width: none;
    display: none;
    width: 20%;
    box-sizing: border-box;
    margin: 3% 3% 3% 5%;
    font-size: 7px !important;
    position: absolute;
    z-index: 200;
    right: 0;
  }
  .editNameAndSurname {
    width: 60%;
    display: none;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    input.form-control {
      width: 90px;
      height: 30px;
    }
  }
  .friendsContainer {
    width: 90%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    h1{
        padding-top:10px;
        font-size:30px;
    }
    .friend {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: row;

        padding: 10px;
        img {
          margin-right: 8px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        h3 {
          font-size: 24px;
          padding: 10px;
        }
      }
      .removeFriend {
        width: 95px;
        height: 35px;
        font-size: 7px !important;
        margin-top: 17px;
      }
    }
  }
}

@media all and (min-width: 487px) and (max-width: 768px) {
  .searchDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    .searchInput{
      height: 40px;
    }
    .searchBtn{
      padding:5px;
      width:75px;
      height: 40px;
      margin-top:0;
      margin-left:10px;
      margin-right:10px;
    }
  }
  .allComponentsContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .nameSurnameParagraph {
    padding: 16px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 400;
  }

  .editAddBtn {
    max-width: none;
    width: 20%;
    box-sizing: border-box;
    font-size: 10px !important;
    height: 50%;
    position: absolute;
    z-index: 200;
    right: 0;
  }
  .addToFriendBtn {
    max-width: none;
    display: none;
    width: 20%;
    box-sizing: border-box;
    margin: 3% 3% 3% 5%;
    font-size: 10px !important;
    position: absolute;
    z-index: 200;
    right: 0;
  }
  .editNameAndSurname {
    width: 60%;
    display: none;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    input.form-control {
      width: 90px;
      height: 30px;
    }
  }
  .friendsContainer {
    width: 90%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    .friend {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: row;

        padding: 10px;
        img {
          margin-right: 8px;
          width: 75px;
          height: 75px;
          border-radius: 50%;
        }
        h3 {
          font-size: 36px;
          padding: 10px;
        }
      }
      .removeFriend {
        width: 120px;
        height: 50px;
        font-size: 10px !important;
        margin-top: 10px;
      }
    }
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .searchDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    .searchInput{
      height: 40px;
    }
    .searchBtn{
      padding:5px;
      width:75px;
      height: 40px;
      margin-top:0;
      margin-left:10px;
      margin-right:10px;
    }
  }
  .allComponentsContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .nameSurnameParagraph {
    padding: 16px;
    font-size: 42px;
    font-weight: 400;
    margin-top: 15px;
  }

  .editAddBtn {
    max-width: none;
    width: 20%;
    box-sizing: border-box;
    font-size: 16px !important;
    height: 50%;
    position: absolute;
    z-index: 200;
    right: 0;
  }
  .addToFriendBtn {
    max-width: none;
    display: none;
    width: 20%;
    box-sizing: border-box;
    margin: 3% 3% 3% 5%;
    font-size: 16px !important;
    position: absolute;
    z-index: 200;
    right: 0;
  }
  .editNameAndSurname {
    width: 60%;
    display: none;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    input.form-control {
      width: 90px;
      height: 30px;
    }
  }
  .friendsContainer {
    width: 90%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    .friend {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: row;

        padding: 10px;
        img {
          margin-right: 8px;
          width: 75px;
          height: 75px;
          border-radius: 50%;
        }
        h3 {
          font-size: 36px;
          padding: 10px;
        }
      }
      .removeFriend {
        width: 140px;
        height: 60px;
        font-size: 13px !important;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}
@media all and (min-width: 1024px) {
  .searchDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    .searchInput{
      height: 40px;
    }
    .searchBtn{
      padding:5px;
      width:75px;
      height: 40px;
      margin-top:0;
      margin-left:10px;
      margin-right:10px;
    }
  }
  .allComponentsContainer {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .left-div{
    width:45%;
    margin-left:auto;
    margin-right:auto;
  }
  .right-div{
    width:45%;
    margin-left:auto;
    margin-right:auto;
    :first-child{
        margin-top:0;
    }
  }
  .nameSurnameParagraph {
    padding: 16px;
    font-size: 24px;
    font-weight: 400;
     margin-top: 0;
  }

  .editAddBtn {
    max-width: none;
    width: 20%;
    box-sizing: border-box;
    font-size: 9px !important;
    height: 50%;
    position: absolute;
    z-index: 200;
    right: 0;
  }
  .addToFriendBtn {
    max-width: none;
    display: none;
    width: 20%;
    box-sizing: border-box;
    margin: 3% 3% 3% 5%;
    font-size: 9px !important;
    position: absolute;
    z-index: 200;
    right: 0;
  }
  .editNameAndSurname {
    width: 60%;
    display: none;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    input.form-control {
      width: 90px;
      height: 30px;
    }
  }
  .friendsContainer {
    width: 90%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    .friend {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: row;

        padding: 10px;
        img {
          margin-right: 8px;
          width: 75px;
          height: 75px;
          border-radius: 50%;
        }
        h3 {
          font-size: 36px;
          padding: 10px;
        }
      }
      .removeFriend {
        width: 140px;
        height: 60px;
        font-size: 13px !important;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}
